* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: poppins;
}

.topnav {
    background-color: #0C8F8F;
    width: 100vw;
    height: 28px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}

.header .brand_name {
    width: 30%;
    text-align: center;
    font-weight: 153px;
    color: #082147;

}

.header span {
    width: 30%;
    padding: 5px;
    font-size: 14px;
    margin: 10px;
    color: #082147;

}

.image img {
    width: 100vw;
    height: 530px;
}

.icon-bar {
    display: flex;
    justify-content: flex-end;
    width: 30%;
}

.icon-bar a {
    padding: 15px 15px;
    font-size: 16px;
    color: #082147;
    margin: 5px 5px;
}

.image .text h1{
    text-align: center;
    font-size: 50px;
    font-style: normal;
    
}